@font-face {
    font-family: 'Gilroy';
    src: url('https://geniuspet.com/assets/fonts/Gilroy/Regular/font.woff2') format('woff2'),
         url('https://geniuspet.com/assets/fonts/Gilroy/Regular/font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('https://geniuspet.com/assets/fonts/Gilroy/Medium/font.woff2') format('woff2'),
         url('https://geniuspet.com/assets/fonts/Gilroy/Medium/font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://geniuspet.com/assets/fonts/Gilroy/Semibold/font.woff2') format('woff2'),
         url('https://geniuspet.com/assets/fonts/Gilroy/Semibold/font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://geniuspet.com/assets/fonts/Gilroy/Bold/font.woff2') format('woff2'),
         url('https://geniuspet.com/assets/fonts/Gilroy/Bold/font.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Gilroy', sans-serif;
}
