@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Regular/font.woff2') format('woff2'),
         url('../fonts/Gilroy/Regular/font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Medium/font.eot');
    src:
        url('../fonts/Gilroy/Medium/font.woff2') format('woff2'),
        url('../fonts/Gilroy/Medium/font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Semibold/font.eot');
    src:
        url('../fonts/Gilroy/Semibold/font.woff2') format('woff2'),
        url('../fonts/Gilroy/Semibold/font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Bold/font.eot');
    src:
        url('../fonts/Gilroy/Bold/font.woff2') format('woff2'),
        url('../fonts/Gilroy/Bold/font.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
}
